<form class="needs-validation" novalidate action="/admin/owners/create" method="POST" id="editOwner">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="vat">Vat</label>
            <input type="text" class="form-control" id="vat" name="vat" placeholder="Enter vat" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter owner password" required>
            <div class="invalid-feedback">
                Valid Password is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
            <div class="invalid-feedback">
                Valid last name is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
            <div class="invalid-feedback">
                Valid Password is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" required>
            <div class="invalid-feedback">
                Valid Password is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="propertyType">Property Type</label>
            <select class="custom-select d-block w-100" id="properType" name="propertyType">
                <#if ownerPropertyTypes??>
                    <#list ownerPropertyTypes as propertyType>
                        <option value="${propertyType}">${propertyType}</option>
                    </#list>
                </#if>
            </select>
            <div class="invalid-feedback">
                Valid Password is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="propertyType">Role</label>
            <select class="custom-select d-block w-100" id="role" name="role">
                <#if ownerRoles??>
                    <#list ownerRoles as role>
                        <option value="${role}">${role}</option>
                    </#list>
                </#if>
            </select>
            <div class="invalid-feedback">
                Valid Role is required.
            </div>
        </div>
    </div>

    <div class="col-md-6 order-md-1">
        <div class="row">
            <button class="btn btn-primary btn-lg mt-4" type="submit" >Submit</button>&nbsp&nbsp&nbsp
            <span id="buttonAppear"></span>
        </div>
    </div>
</form>

