
form {
    border-radius: 5px;
    background-color:#f2f2f2 ;
    padding: 20px;
}
input.error, input.error:focus{
    border-color: red;
}

label.error{
    color: red;
    font-size: 14px;
}

input.valid, input.valid:focus{
    border-color: green;
}
