* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #333333;
    font-family: "Roboto Slab", serif;
    color: white;
}

.preload * {
    transition: none !important;
}

label {
    display: block;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0.35em;
}

button {
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
    /*position: center;*/

    position: relative;

    font-size: 28px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


button:after {
    content: "";
    background: antiquewhite;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

small {
    font-size: 1em;
}

.login--login-submit {
    float: right;
}

.login--container {
    width: 600px;
    background-color: #333333; /*#F15A5C;*/
    margin: 0 auto;
    position: relative;
    top: 25%;
}

.login--toggle-container {
    position: absolute;
    background-color: #333333; /*#F15A5C;*/
    right: 0;
    line-height: 2.5em;
    width: 50%;
    height: 120px;
    text-align: right;
    cursor: pointer;
    transform: perspective(1000px) translateZ(1px);
    transform-origin: 0% 0%;
    transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
    backface-visibility: hidden;
}
.login--toggle-container .js-toggle-login {
    font-size: 4em;
    text-decoration: underline;
}
.login--active .login--toggle-container {
    transform: perspective(1000px) rotateY(180deg);
    background-color: #333333; /*#bc1012;*/
}

.login--username-container, .login--password-container {
    float: left;
    background-color: #333333; /*#F15A5C;*/
    width: 50%;
    height: 120px;
    padding: 0.5em;
}

.login--username-container {
    transform-origin: 100% 0%;
    transform: perspective(1000px) rotateY(180deg);
    transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
    background-color: #333333; /* #bc1012;*/
    backface-visibility: hidden;
}
.login--active .login--username-container {
    transform: perspective(1000px) rotateY(0deg);
    background-color: #333333; /* #F15A5C;*/
}

footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
}


/*for loading bar*/
.progress {
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    background-color: #FCBC51;
    width: 100%;
    background-image: linear-gradient(
            45deg, rgb(252,163,17) 25%,
            transparent 25%, transparent 50%,
            rgb(252,163,17) 50%, rgb(252,163,17) 75%,
            transparent 75%, transparent);
    animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
    from { width: 0 }
    to   { width: 100% }
}