/*.sidebar-sticky-two {*/
/*    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpibQLEE4_ES79-DLKk7HR6NeEAbV516GAEcpvUMKt0EI_vekt&s');*/
/*}*/


#home-block {
    background: url('https://wallpaperplay.com/walls/full/e/0/f/106612.jpg') center no-repeat;
    width: 100%;
    height: 200px;
    color: #333333;
    background-size: 100%;
    transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    margin-bottom: 20px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

#home-block:hover {
    background-size: 150%;
}

.banner-text{
    position: relative;
}

h3{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}

.banner-text-top{
    transform: translate(-50%,-50%);
}

.banner-text-bot{
    transform: translate(-50%,55%);
}


